@page "/"

<PageTitle>Index</PageTitle>

<Letrero3 Mensaje="Plataforma de Torneos Competitivos" />

<div style="text-align:center">

    <h2>Bienvenido a <strong>GamingTorneus!</strong></h2>
    <p>Explora nuestra plataforma de torneos de juegos competitivos y descubre emocionantes competiciones en una amplia variedad de juegos. <br /> En Gaming Torneus, conectamos a jugadores apasionados para participar en torneos, demostrar sus habilidades y competir por emocionantes premios.</p>
    <img src="images/logo.jpeg" alt="Logo" class="logo-img m-3" />
</div>
<div class="alert alert-danger m-3 text-center" role="alert">
    <b>¡Únete a la competencia y demuestra que tienes lo necesario para brillar en el mundo de los juegos competitivos!</b>
</div>


<style>
    /* Agrega estilos CSS para la animación */
    .logo-img {
        width: 400px; /* Ajusta el tamaño inicial de la imagen */
        transition: transform 1.5s ease; /* Agrega una transición para la animación */
    }

        /* Agrega reglas de estilo al pasar el cursor por encima de la imagen */
        .logo-img:hover {
            transform: scale(1.1); /* Ajusta el factor de escala al pasar el cursor por encima */
        }
</style>
