<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjectFinal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-shield" aria-hidden="true"></span> Gaming Torneus
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="juegos">
                <span class="oi oi-monitor" aria-hidden="true"></span> Juegos disponibles!
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="organizadores">
                <span class="oi oi-people" aria-hidden="true"></span> Registra a tu ORG
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="torneos">
                <span class="oi oi-bullhorn" aria-hidden="true"></span> Torneos activos!
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jugadores">
                <span class="oi oi-person" aria-hidden="true"></span> Inscríbete!
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
